:root {
  --baseFontSize: 16px;
  --baseLineHeight: 1.5;
  --baseFont: "Helvetica Neue",
  "Arial",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;
  --bebasFont: "Bebas Neue",
  "Helvetica Neue",
  "Arial",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;
  
  --color-dark: #171717;
  --color-gray: #ddd;
  --color-gray2: #aaa;
}